<div id="app-container" #appContainer>
  <div id="app">
    <nav class='navbar'>
      <div class='nav-container'>
          <!-- <ul class="navbar-list" [class.small-margin-top]="isMarginShorter()"> -->
          <ul class="navbar-list">
              <a [routerLink]="['/', 'isMarginDecreased()']"><li class="nav-item" [class.active-card]="activeCard == 'home'" (click)='setActiveCard("home")'>Home</li></a>
              <a [routerLink]="['/players']"><li class="nav-item" [class.active-card]="activeCard == 'players'" (click)='setActiveCard("players")'>Players</li></a>
              <a [routerLink]="['/tournaments']"><li class="nav-item" [class.active-card]="activeCard == 'tournaments'" (click)='setActiveCard("tournaments")'>Tournaments</li></a>
              <a [routerLink]="['/technique']"><li class="nav-item" [class.active-card]="activeCard == 'technique'" (click)='setActiveCard("technique")'>Technique</li></a>
          </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>`
  </div>
</div>